* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    font-weight: 300;
    color: #070606;
    background-color: #fff;
}
.wrapper {
    max-width: 90%;
    margin: 0 auto;
}
header {
    margin-bottom: 1.875em;
}
/* .container */
.content-container {
    margin: 0;
    margin-bottom: 1.875em;
    padding: 0;
    background-color: #fff;
}
.content-container::after {
    content: "";
    display: table;
    clear: both;
}
.divider {
    width: 25%;
    margin: 0;
    margin-bottom: 1.875em;
    padding: 0;
    border-bottom: 3.125em solid #1c1818;
}
header h1 {
    margin: 0;
    padding: 0;
    font-size: 3em;
    font-weight: 300;
    line-height: 1;
    text-transform: uppercase;
    text-align: left;
}
header span {
    font-size: 2em;
    font-weight: 300;
}
/* left */
.sidebar {
    width: 25%;
    float: left;
    margin: 0;
    color: #dadada;
}
.profile-image {
    text-align: center;
}
.sidebar img {
    width: 100%;
    height: auto;
    margin-bottom: -0.25em;
}
.profile-wrapper {
    padding: 5% 10%;
    background-color: #1c1818;
}
.about-me, .contact-me {
    margin-bottom: 1.875em;
    border-bottom: 0.0625em solid #dadada;
    background-color: #1c1818;
}
.contact-me {
    border: none;
}
.about-me h4, .contact-me h4 {
    font-size: 1.5em;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.about-me p, .contact-list {
    margin-bottom: 1.875em;
}
.contact-list span {
    display: block;
    line-height: 2;
    color: #aeaeae;
}
.contact-list li {
    margin-bottom: 0.9375em;
}
.contact-list a {
    color: #dadada;
    text-decoration: none;
}
.contact-list a:hover {
    border-bottom: 0.0625em dotted #dadada;
}

/* секция с данными о работе */

.main {
    float: right;
    width: 75%;
    padding: 0 2%;
    color: #1c1818;
}
.work-experience {
    margin-bottom: 1.875em;
    border-bottom: 0.0625em solid #1c1818;
}
.work-experience > h4 {
    font-size: 1.5em;
    color: #1c1818;
    text-transform: uppercase;
    margin-bottom: 1.875em;
}
.job {
    margin-bottom: 1.25em;
    color: #3d3d3d;
}
.job:last-child {
    border: none;
    margin-bottom: 1.875em;
}
.job::after {
    content: '';
    display: table;
    height: 0;
    clear: both;
} 
.place-and-time {
    width: 25%;
    float: left;
    margin-right: 2%;
    margin-top: 0;
}
.company h4 {
    font-size: 1em;
    line-height: 1.2;
}
.company .location {
    font-size: 0.7em;
}
.time {
    color: #3d3d3d;
    margin-right: 4.444444444%;
}
.time p span {
    font-size: 0.8em;
    line-height: 1.5;
}
.position {
    float: left;
    width: 73%;
}
.position h5 {
    font-size: 1em;
    line-height: 1.2;
    color: #282828;
}
.position p {
    margin-top: 0.3125em;
    font-size: 0.9em;
    color: #3d3d3d;
}
.freelancer {
    display: block;
}
.freelancer-480 {
    display: none;
}
/* секция с навыками */
.proffesional-skills {
    border-bottom: rgba(0,0,0,0.3);
}
.proffesional-skills:after {
    content: '';
    display: table;
    clear: both;

}
.proffesional-skills h4 {
    font-size: 1.5em;
    color: #1c1818;
    margin-bottom: 1.875em;
    text-transform: uppercase;
}
.professional-skills span {
    display: block;
    text-transform: uppercase;
}
.skills-wrapper {
    float: left;
    width: 49%;
}
.skill {
    margin-bottom: 0.625em;
}
.skills-wrapper:last-child {
    margin-left: 2%;
    margin-bottom: 0;
}
.skill p {
    margin-bottom: 0.1875em;
    color: #1c1818;
}
.skill-progress {
    width: 100%;
    background-color: #c5c3c0;
}
.skill-bar {
    width: 50%;
    height: 1.25em;
    background-color: #807c79;
}
.skill-bar-photoshop {
    width: 70%;
}
.skill-bar-illustrator {
    width: 40%;
}
.skill-bar-indesign {
    width: 60%;
}
.skill-bar-web {
    width: 50%;
}
.skill-bar-git {
    width: 80%;
}
.skill-bar-less {
    width: 30%;
}
.label {
    text-align: center;
    line-height: 1.25em;
    color: #dadada;
} 
/* образование */ 
.education:after {
    content: '';
    display: table;
    clear: both;
} 
.education .school {
    width: 49%;
    float: left;
    margin-right: 1%;
}
.education .languages {
    width: 49%;
    float: left;
    margin-left: 1%;
}
.school h4, .languages h4 {
    margin-top: 0.625em;
    font-size: 1.3em;
    color: #1c1818;
}
.school p {
    margin-top: 0.625em;
    color: #1c1818;
}
.school span {
    color: #3d3d3d;
    font-size: 0.7em;
}
.lang {
    display: inline-block;
    margin-right: 10%;
}
.lang:last-child {
    margin-right: 0;
}
.lang p {
    color: #1c1818;
    margin-top: 0.625em;
}
.lang span {
    color: #3d3d3d;
    font-size: 0.7em;
    margin-top: 0.3125em;
}
/* footer */
footer {
    width: 100%;
    margin: 0.625em 0;
    padding: 0.3125em 0;
    border-top: 0.0625em solid #1c1818;
}
footer::after {
    content: "";
    display: table;
    clear: both;
}
footer p {
    float: left;
    width: 49%;
    display: inline-block;
}
footer p>a {

    color: #1c1818;
    text-decoration: none;
}
footer p>a:hover {
    border-bottom: 0.0625em dotted #1c1818;
}
.social {
    float: right;
    text-align: right;
    width: 49%;
    margin: 0;
}
.social a {
    width: 35px;
    height: 35px;
    display: inline-block;
    text-align: center;
    line-height: 2;
    color: #fff;
    background-color: #1c1818;
    border-radius: 10%;
}
.social a:hover {
    background-color: #aeaeae;
}
@media (min-width: 481px) and (max-width: 768px) {
    .divider {
        width: 96%;
        margin: 0 auto;
    }
    header h1, header span {
        width: auto;
        padding: 0 2%;
    }
    .sidebar {
        float: none;
        width: 96%;
        margin: 0 2%;
        clear: both;
        border-top: 0.0625em solid #1c1818;
    }
    .main {
        float: none;
        width: auto;
        clear: both;
    }
    footer {
        width: 96%;
        margin: 0 auto;
    }
}
@media (max-width:480px) {
    .divider {
        width: 96%;
        margin: 0 auto;
    }
    header h1, header span {
        width: auto;
        padding: 0 2%;
    }
    .sidebar {
        float: none;
        width: 96%;
        margin: 0 2%;
        clear: both;
        border-top: 0.0625em solid #1c1818;
    }
    .main {
        float: none;
        width: auto;
        clear: both;
    }
    .freelancer {
        display: block;
    }
    /*
    .freelancer-480 {
        display: block;
    } */
    .place-and-time {
        float: none;
        width: 98%;
        margin: 0 auto;
    }
    .place-and-time p span {
        display: inline-block;
    }
    .skills-wrapper {
        width: 98%;
        margin: 0 1%;
    }
    .skills-wrapper:last-child {
        margin: 0 1%;
    }
    .education .school {
        width: 98%;
        margin: 0 1%;
    }
    .education .languages {
        width: 99%;
        margin: 0 1%;
    }
    footer {
        width: 96%;
        margin: 0 auto;
    }
    footer p, footer .social {
        width: 98%;
        margin: 0 1%;
        margin-bottom: 0.625em;
        text-align: left;
    }
    
}
